.cover {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.cover > img {
  float: left;
  border: 2px solid black;
  width: 45%;
  margin: 1.66%;
}

img{
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.github{
  max-width: 300px;
  max-height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

body{
background-color: #696969;
font-family: 'Aclonica';
}
